@model FinchInventory.Models.Goal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Goal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Machine.Machine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.Machine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Position1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Position1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
